@import "compass/css3";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.files {
  margin-top: 20px;
  .file {
    height: 100px;
    word-break: break-all;
    padding: 20px;
    box-shadow: 0 0 3px #EAE7E7;
    margin: 5px;
  }
}
