extends layout

block content
    div(ng-controller="fileController as files")
        .container-fluid
            .row.files
                .col-md-2.col-lg-1.col-sm-3.file(ng-repeat="file in files.list")
                    | {{file}}
