body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.files {
  margin-top: 20px;
}
.files .file {
  word-break: break-all;
  padding: 10px;
  box-shadow: 0 0 3px #EAE7E7;
  margin: 10px 5px;
  -webkit-transition: box-shadow 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
  -moz-transition: box-shadow 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
  -ms-transition: box-shadow 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
  -o-transition: box-shadow 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
  transition: box-shadow 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
  cursor: pointer;
}
.files .file:hover {
  box-shadow: 0 0 20px #D8D6D6;
}
.files .file:hover .folder-icon {
  text-shadow: -2px 2px 1px rgba(23, 22, 22, 0.22);
}
.files .file-icon {
  display: block;
  font-size: 50px;
  margin-bottom: 10px;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  transition: text-shadow 0.5s ease;
}
.files .file-icon.directory {
  color: #5BC0DE;
}
.files .file-icon.not-directory {
  color: gray;
}
.files .file-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

.breadcrumb {
  margin-top: 10px;
}

.tooltip {
  word-break: break-all;
}
